<h1> Restaurant List!!!!</h1>
<ul>
<% restaurants.each(function(restaurant){ %>
	<li>
		<a href="#/restaurants/<%= restaurant.id %>"><%=restaurant.escape("name")%>
		</a>
	<button class="delete" data-id="<%= restaurant.id %>">Delete!</button>
  <a href="#/restaurants/<%= restaurant.id %>/edit">Edit</a>
	</li>
<%	}) %>
</ul>

<a href="#/restaurants/new">Add a Restaurant</a>